%center
  %h1 PLANET ANTHEM
  %img#background_img{:src => "images/background.png"}
  #grid
    - @product_presenter.tiles.each_with_index do |tile, i|
      .tile{:id => "tile_#{i}", :class => "#{ 'sold_out' if tile.sold_out? }"}
        = render :partial => tile
    %br{:clear => "all"}
  = render :partial => "fade_effect"
  = render :partial => "overlays"