!!!
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "Sabre Dance :: "+ controller.controller_name.capitalize
    = stylesheet_link_tag 'main'
    = javascript_include_tag :defaults
  %body
    .container
      .flash
        %p{:style => "color: green"}= flash[:notice]
        %p{:style => "color: red"}= flash[:error]
      .content#content= yield