!!!
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "Sabre Dance :: "+ controller.controller_name.capitalize
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'main'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    :erb
      <style>
        #grid {
          width: <%= @product_presenter.width %>px;
          height: <%= @product_presenter.height %>px;
        }
        .tile {
          width: <%=  @product_presenter.tile_width %>px;
          height: <%= @product_presenter.tile_height%>px;
        }
      </style>
  %body
    .container
      .flash
        %p{:style => "color: green"}= flash[:notice]
        %p{:style => "color: red"}= flash[:error]
      .content#content= yield
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "jquery_plugins_widgets"